In [1]:
from bs4 import BeautifulSoup
import urllib.request
import pandas as pd
import requests

### i) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.

In [2]:
url = 'https://www.icc-cricket.com/rankings/womens/team-rankings/odi'

In [3]:
response = requests.get(url)
print(response.status_code, '--->',url)
print('\n')
SOUP= BeautifulSoup(response.content, 'lxml')

200 ---> https://www.icc-cricket.com/rankings/womens/team-rankings/odi

In [4]:
Team=[]
Matches=[]
Points=[]
Rating=[]

In [5]:
Country = SOUP.find_all('span',class_="u-hide-phablet")
for i in Country:
    Team.append(i.get_text().replace("\n",""))
    Team=Team[0:10]

In [7]:
match=SOUP.find_all('td',class_='rankings-block__banner--matches')
matchs=SOUP.find_all('td',class_='table-body__cell u-center-text')
mtc = match + matchs
for i in  mtc:
    Matches.append(i.text)
    Matches=Matches[0:10]

In [8]:
pt=SOUP.find_all('td',class_="rankings-block__banner--points")
pts= SOUP.find_all('td',class_ ="table-body__cell u-center-text")
Point= pt + pts
for i in Point:
    Points.append(i.get_text().replace("\n",""))
    Points=Points[0:10]

In [9]:
rat=SOUP.find_all('td',class_="rankings-block__banner--rating")

rating = SOUP.find_all('td',class_="table-body__cell u-text-right rating")
RATING=rat + rating

In [10]:
for i in RATING:
    Rating.append(i.get_text().replace("\n",""))
    Rating=Rating[0:10]
Rating

['                            172                            ',
 '119',
 '119',
 '104',
 '102',
 '94',
 '76',
 '72',
 '62',
 '44']

In [11]:
ODI=pd.DataFrame({})
ODI['Country']=Team
ODI['Matches']=Matches
ODI['Rating']=Rating
ODI['Points']=Points

print('\033[1m'+'ICC ODI WOMENS RANKING'+'\033[0m') # Print Title in bold case
ODI

ICC ODI WOMENS RANKING

,Country,Matches,Rating,Points
0,Australia,21,172 ...,"3,603"
1,England,28,119,28
2,South Africa,"3,342",119,"3,342"
3,India,26,104,26
4,New Zealand,"3,098",102,"3,098"
5,West Indies,27,94,27
6,Bangladesh,"2,820",76,"2,820"
7,Thailand,25,72,25
8,Pakistan,"2,553",62,"2,553"
9,Sri Lanka,27,44,27

## ii) Top 10 women’s ODI players along with the records of their team and rating.

In [12]:
url = 'https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting'
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.66 Safari/537.36'
}

In [13]:
response = requests.get(url)
print(response.status_code, '--->',url)
print('\n\n')
soup= BeautifulSoup(response.text, 'lxml')
Position =[]
Player =[]
Country =[]
Rating =[]

200 ---> https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting

In [14]:
block_1= soup.find('tr', attrs={'class':'rankings-block__banner'})

Position.append(block_1.find('td',class_='rankings-block__position').text)
Player.append(block_1.find('div', class_="rankings-block__banner--name-large").text)
Country.append(block_1.find('span', class_='rankings-block__banner--nation').text)
Rating.append(block_1.find('div', class_="rankings-block__banner--rating").text)

In [15]:
table_rows =soup.find_all('tr', attrs={'class':'table-body'})
for row in table_rows[:10]:
    Position.append(row.find('td', class_='table-body__cell table-body__cell--position u-text-right').text.replace('\n',''))
    Player.append(row.find('a').text)
    Country.append(row.find('span', class_='table-body__logo-text').text)
    Rating.append(row.find('td', class_='table-body__cell rating').text)

In [16]:
ODI_Batmans=pd.DataFrame({'Ranking':Position,'Player_Name':Player, 'Team':Country, 'Rating':Rating})

print('\033[1m'+'ICC ODI WOMENS BATTING RANKING'+'\033[0m') # Print Title in bold case
ODI_Batmans

ICC ODI WOMENS BATTING RANKING

,Ranking,Player_Name,Team,Rating
0,\n\n\n 1\n ...,Alyssa Healy,,762
1,2 ...,Beth Mooney,AUS,754
2,3 ...,Laura Wolvaardt,SA,732
3,4 ...,Natalie Sciver,ENG,731
4,5 ...,Meg Lanning,AUS,717
5,6 ...,Harmanpreet Kaur,IND,716
6,7 ...,Smriti Mandhana,IND,714
7,8 ...,Rachael Haynes,AUS,680
8,9 ...,Chamari Athapaththu,SL,655
9,10 ...,Amy Satterthwaite,NZ,641
10,11 ...,Ellyse Perry,AUS,626

### iii) Top 10 women’s ODI bowler along with the records of their team and rating.

In [17]:
url = 'https://www.icc-cricket.com/rankings/womens/player-rankings/odi/bowling'
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.66 Safari/537.36'
}

In [18]:
response = requests.get(url)
print(response.status_code, '--->',url)
print('\n\n')
soup= BeautifulSoup(response.text, 'html.parser')
Position =[]
Player =[]
Country =[]
Rating =[]

200 ---> https://www.icc-cricket.com/rankings/womens/player-rankings/odi/bowling

In [19]:
block_1= soup.find('tr', attrs={'class':'rankings-block__banner'})

Position.append(block_1.find('td',class_='rankings-block__position').text)
Player.append(block_1.find('div', class_="rankings-block__banner--name-large").text)
Country.append(block_1.find('span', class_='rankings-block__banner--nation').text)
Rating.append(block_1.find('div', class_="rankings-block__banner--rating").text)

In [20]:
table_rows =soup.find_all('tr', attrs={'class':'table-body'})

In [21]:
for row in table_rows[:10]:
    Position.append(row.find('td', class_='table-body__cell table-body__cell--position u-text-right').text.replace('\n',''))
    Player.append(row.find('a').text)
    Country.append(row.find('span', class_='table-body__logo-text').text)
    Rating.append(row.find('td', class_='table-body__cell rating').text)

In [22]:
ODI_Bowling=pd.DataFrame({'Ranking':Position,'Player_Name':Player, 'Team':Country, 'Rating':Rating})

print('\033[1m'+'ICC ODI WOMENS BOWLING RANKING'+'\033[0m') # Print Title in bold case
ODI_Bowling

ICC ODI WOMENS BOWLING RANKING

,Ranking,Player_Name,Team,Rating
0,\n\n\n 1\n ...,Sophie Ecclestone,,751
1,2 ...,Jess Jonassen,AUS,723
2,3 ...,Shabnim Ismail,SA,722
3,4 ...,Megan Schutt,AUS,704
4,5 ...,Jhulan Goswami,IND,698
5,6 ...,Hayley Matthews,WI,660
6,7 ...,Kate Cross,ENG,655
7,8 ...,Ayabonga Khaka,SA,634
8,9 ...,Rajeshwari Gayakwad,IND,617
9,10 ...,Marizanne Kapp,SA,598
10,11 ...,Deepti Sharma,IND,589